*{
    margin: 0;
    padding: 0;
}

.background1{
    height: 15cm;
    width: auto;
    background-color: #263447;
    color: white;
}



.header{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 22px;
    font-family: 'Ubuntu';
}

.header-logo{
    display: flex;
    padding-left: 4cm;
    font-weight: bold;
}

.nav{
    padding-right: 5cm;
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 1.3cm;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.7cm;
    width: 6in;
    background-color: #8c8d8f;
    position: relative;
    left: 8.8in;
    bottom: 7.2cm;
    font-family: 'Roboto';
}

.description{
    padding-top: 3cm;
    padding-left: 3cm;
}

.main-text{
    font-size: 40px;
    font-family: 'Oswald';
    font-weight: bold;
    letter-spacing: 5px;
}

.sub-text{
    font-size: 17px;
    font-family: 'Roboto';
    font-weight: 800;
}

.awesome{
    display: block;
}

.btn{
    display: block;
    height: 30px;
    width: 96px;
    border-radius: 8px;
    background-color: #266cc9;
    color: white;
    font-family: 'Roboto';
    font-weight: 900;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}





